@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;600&display=swap');
body {
  font-family: 'Spartan', sans-serif;
  font-size: 15px;
  background-image: url('bg-pattern-top-desktop.svg');
  background-image: url('bg-pattern-bottom-desktop.svg');
}
.col-lg-3 {
  background-color: hsl(300, 43%, 22%);
  color: white;
  border-radius: 10px;
}
h1, h5 {
  font-weight: 700;
}
.col-lg-3 img {
  width: 15%;
  display: inline;
  margin-right: 20px;
  height: 80%;
  float: left;
}
h5 {
  font-size: 12px;
}
h1 {
  color: hsl(300, 43%, 22%);
}
.card-title {
  margin-left: 30px;
  margin-right:30px;
  margin-top: 30px;
  margin-bottom: 10px;
}
.card-text {
  padding: 30px;
}
@media (min-width:993px) {
  .vertical-center {
    min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
    min-height: 100vh;

    display: flex;
    align-items: center;

}
.d-inline-block {
  background-color: hsl(300, 24%, 96%);
  width: 80%;
  margin: 10px 0;
  padding: 10px;
  font-weight: 700;
  font-size: 12px;
  padding: 20px 0px;
}

#box1 {
  margin-left: 50px;
}
#box2 {
  margin-left: 100px;
}
#card1 {
  align-self: flex-start !important;
  width: 31%;
}
#card2 {
 align-self: center !important;
 margin-top: 10px;
 width: 31%;
}
#card3 {
 align-self: flex-end !important;
 margin-top: 30px;
 width: 31%;


}

.name {
  padding-top: 10px;
}
.col-lg-8 p {
  display: inline;
  font-weight: 700;
  color: hsl(300, 43%, 22%);
}
#text-area {
  padding-left: 25px;
  padding-right: 10px;
}
.col-lg-8 {
  padding-left: 30px;
}




}
@media (max-width:1000px) {
  body {
    background-image: url('bg-pattern-top-mobile.svg');
    background-image: url('bg-pattern-bottom-mobile.svg');
  }
 .container {
   width: 95vw;
 }
 .d-inline-block {
   background-color: hsl(300, 24%, 96%);
   width: 95%;
   margin: 10px;
   padding: 10px;
   font-weight: 700;
   font-size: 12px;
}
.d-inline-block p {
  margin: 0;
  margin-top: 5px;
}
#text-area {
  text-align: center;
  margin-top: 30px;
}
.col-lg-8 {
  padding-left: 0;
  padding-right: 0;
}
#card1 {
  margin: 10px;

}
#card2 {
  margin: 10px;

}
#card3 {
  margin: 10px;
}

}
